<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie and Book Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Movie and Book Recommendation System</h1>
        
        <div class="button-container">
            <button onclick="window.location.href = '/search';" class="left-btn">Search Movies and Books</button>
            <button onclick="window.location.href = '/recommendations';" class="right-btn">Get Recommendations</button>
        </div>
    </div>
</body>
</html>
